<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tagebuch</title>
    <!-- Füge das Bootstrap CSS-Framework hinzu -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Überschrift des Tagebuchs -->
                <h2 class="mb-4">Tagebuch</h2>

                <a href="/pages/diary" class="btn btn-primary">Einloggen</a>

                <hr> <!-- Horizontale Linie zur Trennung -->

                <!-- Text für Benutzer ohne Account -->
                <p class="mt-4">Noch keinen Account?</p>

                <!-- Link zum Erstellen eines Accounts -->
                <a href="/pages/create_account" class="btn btn-outline-primary">Account erstellen</a>
            </div>
        </div>
    </div>

    <!-- Füge jQuery, Popper.js und Bootstrap JavaScript-Dateien hinzu -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
